{{ form_start(form) }}
<div class="row w-25 ms-1 border border-3 border-primary p-3">
    {{ form_row(form.title) }}
    {{ form_row(form.date) }}
    {{ form_row(form.description) }}
    {{ form_row(form.image) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
