{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Événements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date</th>
                <th>Image</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.image }}</td>
                <td>{{ event.description }}</td>
                <td>
                    <a href="{{ path('admin_event_show', {'id': event.id}) }}">Details</a>
                    <a href="{{ path('admin_event_edit', {'id': event.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">pas d'événements trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_event_new') }}">Créer</a>
{% endblock %}
