{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('event') }}
{% endblock %}

{% block title %}Évènement :
	{{ event.title }}
{% endblock %}

{% block body %}
	{# {{dump(eventsId)}} #}
	<div class="mt-5 ms-5">
		<a href="{{ path('event_index') }}">
			<i class="bi bi-arrow-left fs-1"></i>
		</a>
	</div>
	<div class="corner d-flex justify-content-center">
		<h1 class="">{{ event.title }}</h1>
	</div>
	<div class="mb-3 m-5">
		<div class="d-flex justify-content-center align-items-center">
			{# {% if (event.id +1) is defined  %} #}
				<a href="{{ path('event_show', {id:event.id -1}) }}">
					<i class="bi bi-caret-left-fill fs-1 me-5"></i>
				</a>
			{# {% endif %} #}
			<img src="{{ asset('build/images/' ~ event.image) }}" class="w-50" alt="...">
			<a href="{{ path('event_show', {id:event.id +1}) }}">
				<i class="bi bi-caret-right-fill fs-1 ms-5"></i>
			</a>
		</div>
		<div class="ms-5 me-5 mt-5 ps-5 pe-5">
			<p class="">{{ event.description }}</p>
			<p class="card-text mt-2">
				<small class="text-muted">{{ event.date|date }}</small>
			</p>
		</div>
	</div>

{% endblock %}
