{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}
	{{ parent() }}
	| Accueil
{% endblock %}

{% block body %}
	{% include 'components/_header.html.twig' with {'title': 'Accueil'} %}
	<h1 class="text-center mt-5">Split Screen : l’art de jouer</h1>
	<h2 class="text-center mt-1">Events Gaming - Tournois - Expos - Ateliers - Conférences</h2>

	  {{ render(controller('App\\Controller\\DefaultController::banner')) }}

	<div class="container-fluid">
		<div class="row justify-content-evenly py-5">
			<div class="col col-lg-4 mb-5">
				<h2 class="border-bottom border-2 border-secondary pb-2 ms-2 text-primary">Nos Évènements</h2>
				{% for event in events %}
					<div class="row py-2">
						<div class="col">
							<div class="card m-2 shadow-sm">
								<img src="{{ vich_uploader_asset(event) }}" alt="{{"photographie de " ~ event.title }}" class="imgCards card-img-top">
								<div class="card-body">
									<h5 class="text-truncate card-title text-center">{{ event.title }}</h5>
									<p class="text-center">
										{{ event.date| date }}
									</p>
									<p class="text-truncate card-text text-center text-truncate">{{ event.catchPhrase }}</p>
									<a href="{{ path('event_show', { slug: event.slug }) }}" class="btn btn-primary d-block mx-auto">Plus d'informations</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			
			<div class="col col-lg-4 col-md-12 col-sm-12 mb-5">
				<h2 class="border-bottom border-2 border-secondary pb-2 ms-2 text-primary">Dernières actus</h2>
				{% for actu in actus %}
					<div class="row py-2">
						<div class="col">
							<div class="card m-2 shadow-sm">
								<img src="{{ asset('build/images/' ~ actu.image) }}" alt="{{"photographie de " ~ actu.title }}" class="imgCards card-img-top">
								<div class="card-body">
									<h5 class="card-title text-center">{{ actu.title }}</h5>
									<p class="text-center">
										{{ actu.date| date }}
									</p>
									<p class="overflow-ellipsis card-text text-center text-truncate">{{ actu.catchPhrase}}</p>
									<a href="{{ path('actuality_show', { slug: actu.slug }) }}" class="btn btn-primary d-block mx-auto">Plus d'informations</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>


	</div>
{% endblock %}
