{% extends 'base.html.twig' %}

{% block title %}Network{% endblock %}

{% block body %}
    <h1>Network</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ network.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ network.title }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ network.link }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_network_index') }}">back to list</a>

    <a href="{{ path('admin_network_edit', {'id': network.id}) }}">edit</a>

    {{ include('admin/admin_network/_delete_form.html.twig') }}
{% endblock %}
