{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Actu index{% endblock %}

{% block body %}
    <h1>Actu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Description</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actu in actus %}
            <tr>
                <td>{{ actu.title }}</td>
                <td>{{ actu.image }}</td>
                <td>{{ actu.description }}</td>
                <td>{{ actu.date ? actu.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_actu_show', {'id': actu.id}) }}">show</a>
                    <a href="{{ path('admin_actu_edit', {'id': actu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_actu_new') }}">Create new</a>
{% endblock %}
