<div class="ms-1 mb-3 border border-3 border-primary p-3">
	{{ form_start(form) }}
	{{ form_row(form.lastName) }}
	{{ form_row(form.firstName) }}
	{{ form_row(form.imageFile) }}
	<div class="text-center">
		<button class="btn btn-secondary">{{ button_label|default('Ajouter') }}<i class="ms-1 bi bi-check-lg"></i></button>
	</div>
</div>
{{ form_end(form) }}
