{% extends 'admin/Adminbase.html.twig' %}

{% block title %}Member
{% endblock %}

{% block body %}
	<div class="mt-5 ms-5 mb-5 ">
		<a href="{{ path('admin_member_index') }}">
			<i class="bi bi-arrow-left fs-1"></i>
		</a>
	</div>
	<main class="container">
		<table class="table">
			<tbody>
				<tr>
					<th>Image</th>
					<td>{{ member.image }}</td>
				</tr>
				<tr>
					<th>LastName</th>
					<td>{{ member.lastName }}</td>
				</tr>
				<tr>
					<th>FisrtName</th>
					<td>{{ member.fisrtName }}</td>
				</tr>
				<tr>
					<th>Id</th>
					<td>{{ member.id }}</td>
				</tr>
			</tbody>
		</table>

		<section class="container d-flex justify-content-between">
			<a href="{{ path('admin_member_edit', {'id': member.id}) }}" class="btn btn-warning btn-lg m-2 mb-3">Modifier<i class="bi bi-pen ms-2"></i></a>
			<div class="">
			{{ include('admin/admin_member/_delete_form.html.twig') }}
			</div>
		</section>
	</main>
{% endblock %}
