{% extends 'base.html.twig' %}

{% block title %}Member{% endblock %}

{% block body %}
    <h1>Member</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ member.lastName }}</td>
            </tr>
            <tr>
                <th>FisrtName</th>
                <td>{{ member.fisrtName }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ member.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_member_index') }}">back to list</a>

    <a href="{{ path('app_member_edit', {'id': member.id}) }}">edit</a>

    {{ include('member/_delete_form.html.twig') }}
{% endblock %}
