<div class="ms-1 border border-3 border-primary p-3">
{{ form_start(form) }}
		{{ form_row(form.title) }}
		{{ form_row(form.date) }}
		{{ form_row(form.description) }}
		{{ form_row(form.catchPhrase) }}
		{{ form_row(form.slug) }}
		{{ form_row(form.imageFile) }}
		<button class="btn btn-secondary btn-lg m-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
</div>