{% extends 'base.html.twig' %}

{% block title %}Événements{% endblock %}

{% block body %}
<main class="container">
    <h1>Événements</h1>
    <div class="d-flex justify-content-start">
    <a class="btn btn-secondary btn-lg m-2" href="{{ path('admin_event_add') }}">Créer</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.image }}</td>
                <td class="d-flex">
                    <a class="btn btn-primary btn-lg m-2" href="{{ path('admin_event_show', {'id': event.id}) }}">Détails</a>
                    <a class="btn btn-primary btn-lg m-2" href="{{ path('admin_event_edit', {'id': event.id}) }}">Modifier</a>
                    {{ include('admin_event/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'événements trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    </main>
{% endblock %}
