{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Événements
{% endblock %}

{% block body %}
	<main class="container">
		<h1>Événements</h1>
		<div class="d-flex justify-content-start">
			<a class="btn btn-secondary btn-lg m-2" href="{{ path('admin_event_add') }}">Ajouter<i class="bi bi-cloud-plus ms-2"></i>
			</a>
		</div>

		<table class="table align-middle">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Date</th>
					<th>Image</th>
					<th>Phrase d'accroche</th>
					<th class="d-flex justify-content-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for event in events %}
					<tr>
						<td>{{ event.title }}</td>
						<td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ event.image }}</td>
						<td>{{ event.catchPhrase }}</td>
						<td class="d-flex justify-content-end">
							<a href="{{ path('admin_event_edit', {'id': event.id}) }}" class="btn btn-warning btn-lg m-2">Modifier<i class="bi bi-pen ms-2"></i>
							</a>
							{{ include('admin/admin_event/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Pas d'événements trouvés</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</main>
{% endblock %}
