{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Événements{% endblock %}

{% block body %}
<main class="container">
    <h1 class="border-bottom border-secondary">{{ event.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ event.image }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Phrase d'accroche</th>
                <td>{{ event.catchPhrase }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary btn-lg m-2" href="{{ path('admin_event_edit', {'id': event.id}) }}">Modifier</a>

    <a class="btn btn-primary btn-lg m-2" href="{{ path('admin_event_index') }}">Retour à la liste</a>

    

    </main>
{% endblock %}
