{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Actualités
{% endblock %}

{% block body %}
	{% include 'components/_header.html.twig' with {'title': 'Actualités'} %}
	<section>
		<h1 class="text-center p-2 mt-5">Suivez toutes nos actualités !</h1>
	</section>
	<main class="container pb-3">
		<div class="p-2">
			<h3 class="border-bottom border-2 border-secondary pb-2">Nos Actualités</h3>
		</div>
		<div class="row">
			{% if actualities is empty %}
				<p class="text-center mb-5">Pas encore d'actualités.</p>
			{% else %}
				{% for actuality in actualities %}
					<div class="col-lg-4 col-md-6 d-flex justify-content-center">
						<div class="card w-100 m-2 shadow-sm" data-aos="zoom-in" data-aos-duration="1000">
							<img src="{{ vich_uploader_asset(actuality) }}" alt="{{'photographie de ' ~ actuality.title}}" class="imgCards card-img-top ">
							<div class="card-body">
								<h5 class="card-title text-center">{{ actuality.title }}</h5>
								<p class="text-center">
									{{ actuality.date| date("d/m/Y") }}
								</p>
								<p class="card-text text-center text-truncate">{{ actuality.catchPhrase }}</p>
								<a href="{{ path('actuality_show', { slug: actuality.slug }) }}" class="btn btn-secondary text-light d-block mx-auto">Plus d'informations</a>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</main>
{% endblock %}
