{% extends 'base.html.twig' %}

{% block title %}Actualité :
	{{ actuality.title }}
{% endblock %}

{% block body %}
	<div class="mt-5 ms-5">
		<a href="{{ path('actuality_index') }}">
			<i class="bi bi-arrow-left fs-1 text-secondary"></i>
		</a>
	</div>
	<div class="text-center m-5">
		<h1 class="">{{ actuality.title }}</h1>
		<small class="text-muted">{{ actuality.date|date }}</small>
	</div>
	<div class="d-flex justify-content-center align-items-center">
		<img src="{{ asset('build/images/' ~ actuality.image) }}" class="w-50" alt="{{ actuality.title }}">
	</div>
	<p class="m-5">{{ actuality.description|raw }}</p>
{% endblock %}
