{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('actualityShow') }}
{% endblock %}

{% block title %}Actualité :
	{{ actuality.title }}
{% endblock %}

{% block body %}
	<div class="mt-5 ms-5">
		<a href="{{ path('actuality_index') }}">
			<i class="bi bi-arrow-left fs-1"></i>
		</a>
	</div>
	<div class="corner d-flex justify-content-center">
		<h1 class="">{{ actuality.title }}</h1>
	</div>
	<div class="mb-3 m-5">
		<div class="d-flex justify-content-center align-items-center">
			<img src="{{ asset('build/images/' ~ actuality.image) }}" class="w-50" alt="Photographie d'une actualité">
		</div>
		<div class="mx-5 mt-5 px-5">
		<p class="">{{ actuality.description }}</p>
			<p class="card-text mt-2">
				<small class="text-muted">{{ actuality.date|date }}</small>
			</p>
		</div>
	</div>

{% endblock %}
