<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Nouveau message utilisateur Split Screen</title>
	</head>
	<body>
		<h2>Vous avez recu un message de la part de la part de
			{{ form.firstName }}
			{{ form.lastName }}</h2>
		<p>{{ form.message }}</p>
		<h4>Coordonnées :</h4>
		<li>{{ form.phone }}</li>
		<li>{{ form.email }}</li>
	</body>
</html>
