<div class="row">
	<div class="col-lg-6 align-self-center">
		<table class="table text-center align-middle">
			<tbody>
				<tr>
					{% for network in networks %}
						{% if network.link %}
							<tr>
								<td class="pb-3 text-primary d-flex flex-column">
									<a href="{{ network.link }}" class="link-primary text-decoration-none fs-3" target="_blank">{{ network.title|capitalize }}</a>
								</td>
								<td>
									<a href="{{ network.link }}"target="_blank">
										<i class=" bi bi-{{network.title}} fs-3"></i>
									</a>
								</td>
							</tr>
						{% endif %}
					{% else %}
						<tr>
							<td class="pb-3 text-primary d-flex flex-column">
								<p>Aucun réseau social n'est actuellement disponible</p>
							</td>
						</tr>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-lg-6">
		<img src="{{ asset('build/images/rs_contact.jpg') }}" alt="réseaux sociaux" class="w-100 imgRight">
	</div>
</div></div>
