<div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
	<div class="card m-2 shadow-sm">
		<img src="{{ asset('build/images/' ~ event.image) }}" alt="photographie mise en avant" ~ event.image class="card-img-top">
		<div class="card-body">
			<h5 class="card-title text-center">{{ event.title }}</h5>
			<p class="text-center">
				{{ event.date| date("H:i d/m/Y") }}
			</p>
			<p class="card-text text-center text-truncate">{{ event.catchPhrase }}</p>
			<a href="{{ path('event_show', { id: event.id }) }}" class="btn btn-primary d-block mx-auto">Plus d'informations</a>
		</div>
	</div>
</div>
