{% block stylesheets %}
	{{ encore_entry_link_tags('partners') }}
{% endblock %}

<h1 class="d-flex justify-content-center">Nos Partenaires</h1>
<section class="partners">
	<div class="">
		<div class="d-flex justify-content-between mx-3">
			<img src="{{ asset('build/images/Logo_Mairie.png') }}" class="col-lg-2 partner-image" alt="Logo de la Mairie">
			<img src="{{ asset('build/images/Logo6.png') }}" class="col-lg-2 partner-image" alt="Logo test">
			<img src="{{ asset('build/images/Logo2.png') }}" class="col-lg-2 partner-image" alt="Logo test">
			<img src="{{ asset('build/images/Logo3.png') }}" class="col-lg-2 partner-image" alt="Logo test">
			<img src="{{ asset('build/images/Logo4.png') }}" class="col-lg-2 partner-image" alt="Logo test">
		</div>
	</div>
</section>
